.headings_contact {
    font-size: 2.2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#heading_contact {
    text-align: center;
}





#heading_contact h6 {
    margin-top: 2rem;
    font-size: 2.2rem;
    margin-bottom: 1rem;
    columns: #0096c7;
    font-weight: bold;
}

#heading_contact p {
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.two_sections1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.contact_item p {
    font-size: 1rem;
    margin: 2rem;

}

.contact_item {
    color: black;
}

.ikona_fa {
    margin-left: -2rem;

}

.ikona_fa {
    margin-right: 1rem;
}

.write_me {
    margin-bottom: 1rem;
}

.contact_item ContactCard {
    color: black;
}

/*formular*/

#form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}



form input,
textarea {
    border-radius: 2rem;
    border: none;
    transition: background 0.5s ease, color 0.5s ease;
}

input::placeholder {
    font-size: 1rem;
}

textarea::placeholder {
    font-size: 1rem;
    position: relative;
    left: -1rem;

}

#first_parts input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100%;
    gap: 1rem;
    box-sizing: border-box;
    padding: 1rem;
    margin-bottom: 1rem;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;
    padding: 2rem;
}



.button {
    align-self: flex-start;
    padding: 1rem 2rem;
    border-radius: 1.6rem;
    font-size: 1.2rem;
    border: none;
    background-color: #0096C7;
    color: white;
    cursor: pointer;
    margin-bottom: 1rem;
}

.button:hover {
    background-color: #0096C7;
}

@media (max-width: 768px) {

    .last-img {
        height: 19rem;

    }

    .button {
        width: 100%;
    }

    #item_about {
        max-width: 20rem;
        color: darkslategrey;
        max-width: 85%;
        border: 1px solid none;
        display: flex;
        justify-items: center;
        padding: 3rem;
        border-radius: 1rem;
        font-size: 1.2rem;
        margin-bottom: 2rem;
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

    .icons a {
        display: flex;
        justify-content: center;
    }



    #burger_menu {
        display: block;
    }

    nav ul {
        background-color: #025add;
        margin-top: -1rem;
        position: relative;
        list-style-type: none;
    }

    nav ul li:last-child {
        background-color: #025add;
    }

    nav ul li {
        display: block;
        text-align: center;
        width: 100%;
        display: none;
        top: 0;
        left: 0;
        z-index: 10;


    }

    nav ul li a {
        color: black;
        list-style-type: none;
    }



    .icons {
        text-align: center;
    }

    #main {
        display: block;
    }



    #text_introduction {
        margin-top: 13rem;
        text-align: center;
        z-index: 2;
        margin-left: 0;
        margin-bottom: 3rem;
    }



    .text_introduction h1 {
        font-size: 2.5rem;
        z-index: 9;
    }

    .text_introduction h2 {
        font-size: 1.5rem;
    }

    .skills_text h4 {
        font-size: 1.5rem;

    }

    .skills_text p {
        font-size: 1.2rem;
    }

    #skills_images {
        display: flex;
        flex-direction: column;
    }

    .contact_item {
        text-align: center;
    }

    .headings_education {
        font-size: 2.4rem;
    }



    .contact_item p {
        font-size: 1rem;
    }

    .last_item {
        margin-left: 0.3rem;
    }

    .course_education p {
        font-size: 1rem;
    }

    .school_education p {
        font-size: 1rem;
    }

    #heading_contact h6 {
        font-size: 2rem;
    }

    #heading_contact p {
        font-size: 1.2rem;
    }



    .call_me {
        font-size: 1.2rem;
        text-align: center;
    }

    .write_me {
        font-size: 1.3rem;
        display: flex;
        justify-content: center;
    }

    .item_about p {
        font-size: 1rem;
        text-align: center;
    }




    .arrow:before,
    .arrow:after {
        top: 12rem;
        width: 1rem;
        font-size: 1rem;
        z-index: 9;
        display: none;
    }



}