#cross {
    position: absolute;
    top: 1rem;
    right: 1rem;
    filter: opacity(0.5) drop-shadow(0 0 0);
    z-index: 10;
    opacity: 0;
    width: 2rem;


}


#burger_menu {
    filter: opacity(0.8) drop-shadow(0 0 0 grey);
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 10;
    display: none;
    width: 2rem;
}


nav {
    text-align: right;

}



nav ul li {
    margin-top: 1rem;
    display: inline-block;
    margin-right: 1rem;
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    cursor: pointer;


}

nav ul li a {
    text-decoration: none;
    color: #363945;
    transition: transform 0.5s ease-in-out, color 0.5s;

}

nav ul li:last-child {
    border: 1px solid none;
    padding: 1rem;
    border-radius: 1rem;
    transition: transform 1s ease-in-out, background-color 0.5s;
}

nav ul li:last-child:hover {
    background-color: white;


}


nav ul li a:hover {
    color: #0096C7;
}